<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<h1>测试页面</h1>
<input type="button" id="btExcel" value="下载"/>
<script>
    $("#btExcel").click(function () {
        // $("#storageDeptID").val(storageDeptID);//库存科室
        //  $("#summaryID").val(inventory_Bill.summaryID);//货架货位
        //   $("#gridData").val(mini.encode(gridData));//明细数据
        var excelForm = document.getElementById("excelForm");
        excelForm.action = "/user/excel";
        excelForm.submit();
    });
</script>
<form id="excelForm" method="post" target="excelIFrame">
    <input type="hidden" id="storageDeptID" name="storageDeptID"/>
    <input type="hidden" id="summaryID" name="summaryID"/>
    <input type="hidden" id="gridData" name="gridData"/>
</form>
</body>
</html>